### Arbitragem em ativos da B3 vs NYSE/Nasdaq
A ideia é encontrar divergências de preços de ações da B3 em relação às ações da mesma empresa negociadas em bolsas americanas

### Importando bibliotecas

In [2]:
import yfinance as yf
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import requests

In [7]:
url = 'https://br.investing.com/equities/brazil-adrs'
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36'}
r = requests.get(url, headers=header)
adrs = pd.read_html(r.text)[0]

In [13]:
adrs

,Nome,Último,Máxima,Mínima,Variação,Var. %,Vol.,Hora
0,BBD Banco Bradesco,2830,2890,2830,-30,"-1,05%","19,76M",16:59:59
1,VALE Vale ADR,1318,1349,1314,-44,"-3,23%","13,44M",16:59:59
2,PBR Petroleo Brasileiro Petrobras ADR,1456,1492,1451,-37,"-2,48%","13,11M",16:59:59
3,ITUB Itau Unibanco,5300,5340,5270,-30,"-0,56%","10,39M",16:59:59
4,ABEV Ambev SA,2740,2770,2730,-30,"-1,08%","4,66M",16:59:59
5,GGB Gerdau ADR,4980,5080,4930,-90,"-1,78%","4,48M",16:59:59
6,PBRa Petroleo Brasileiro ADR Reptg 2 Pref,1317,1348,1314,-30,"-2,23%","3,52M",16:59:59
7,CIG Energy of Minas Gerais,2380,2400,2370,-20,"-0,83%","1,59M",16:59:59
8,BRFS BRF ADR,1810,1850,1800,-40,"-2,16%","1,26M",16:59:59
9,SID SID Nacional ADR,2350,2400,2340,-60,"-2,49%","1,18M",16:59:59
10,CBD Companhia Brasileira de Distribuicao,830,899,830,-43,"-4,95%","949,33K",16:59:59
11,ERJ Embraer ADR,1500,1545,1498,-54,"-3,47%","891,85K",16:59:59
12,AZUL Azul,805,824,798,-26,"-3,19%","856,8K",17:00:00
13,SBS Sabesp ADR,11510,11720,11500,-120,"-1,03%","734,61K",16:59:59
14,VIV Telefonica Brasil ADR,8270,8350,8240,-110,"-1,31%","529,42K",16:59:59
15,GOL Gol Linhas Aereas ADR,2650,2764,2650,-120,"-4,33%","487,22K",16:59:59
16,BAK Braskem A,941,949,920,-15,"-1,57%","418,38K",16:59:59
17,TIMB TIM Participacoes,1460,1468,1437,12,"+0,83%","392,52K",16:59:59
18,EBR Brazilian Electric Power DRC,6780,6870,6780,-70,"-1,02%","375,69K",16:59:59
19,UGP Ultrapar Participacoes,3550,3580,3530,-90,"-2,47%","300,79K",16:59:59
20,ELP COPEL Pref ADR,8300,8370,8270,-40,"-0,48%","268,13K",16:59:59
21,BSBR Banco Santander Brasil ADR,5210,5260,5210,-70,"-1,33%","251,72K",16:59:59
22,ATLX Atlas Lithium,266800,270000,261801,2300,"+0,87%","67,44K",17:00:01
23,JBSAY JBS SA,729,770,728,-7,"-1,02%","51,65K",16:46:00
24,EBRb Brazilian Electric Power DRC,7730,7730,7570,-20,"-0,26%","48,54K",16:59:59
25,BBSEY BB Seguridade Participacoes SA,604,633,604,-16,"-2,58%","44,67K",16:59:00
26,BDORY Banco Do Brasil SA,9170,9550,9170,-270,"-2,86%","43,8K",16:59:00
27,LND Brasilagro Adr,5110,5292,4910,0,"0,00%","21,28K",16:59:59
28,EGIEY Engie Brasil,800,880,751,-84,"-9,50%","20,89K",16:58:00
29,COGNY Cogna Educacao ADR,505,530,505,-53,"-9,55%","10,44K",16:55:00
30,CIOXY Cielo SA,77,79,75,-1,"-1,21%","9,11K",16:52:00
31,LZRFY Localiza Rent A Car SA,1198,1362,1171,-14,"-1,16%","8,27K",16:59:00
32,LGSXY Light ADR,12,12,11,0,"-1,68%","5,68K",15:11:00
33,USNZY Usinas Siderurgicas de Minas Gerais,13100,14000,13100,-300,"-2,24%","5,37K",16:59:00
34,MRRTY Marfrig Global Foods SA,1390,1480,1370,-10,"-0,71%","4,72K",16:11:00
35,CIGc Energy of Minas Gerais DRC,3800,3850,3780,0,"0,00%","3,18K",17:00:00
36,CYRBY Cyrela Brazil Realty SA,4150,4400,4050,-4,"-0,11%","3,03K",16:58:00
37,BBDO Banco Bradesco S/A ADR,2580,2610,2550,18,"+0,70%","1,38K",16:59:59
38,LRENY Lojas Renner ADR,30500,30800,30500,-2150,"-6,58%","1,16K",16:58:00
39,HYPMY Hypera,788,789,777,-1,"-0,13%",601,13:04:00
40,OIBZQ Oi ADR,12,300,12,0,"0,00%",400,16:56:00
41,OIBRQ Oi ADR Pref,4,4,4,0,"0,00%",0,06/09
42,GFASY Gafisa ADR,1501,1501,1501,0,"0,00%",0,18/08
43,KLBAY Klabin Sa A,895,895,895,0,"0,00%",0,06/09
44,PDGRY PDG Realty,194220,194220,194220,0,"0,00%",0,08/10
45,ESTRF Estre USA A,0,0,0,0,"0,00%",0,26/06
46,CTPTY CTEEP ADR,648,648,648,0,"0,00%",0,31/07
47,SYYNY SYN prop e tech ADR,340,340,340,0,"0,00%",0,29/08
48,EQUEY Equatorial Energia ADR,7000,7000,7000,0,"0,00%",0,31/07
49,IOCJY Iochpe Maxion ADR,91,91,91,0,"0,00%",0,22/08

In [16]:
adrs['Ticker'] = adrs['Nome'].str.split().str.get(0)
adrs

,Nome,Último,Máxima,Mínima,Variação,Var. %,Vol.,Hora,Ticker
0,BBD Banco Bradesco,2830,2890,2830,-30,"-1,05%","19,76M",16:59:59,BBD
1,VALE Vale ADR,1318,1349,1314,-44,"-3,23%","13,44M",16:59:59,VALE
2,PBR Petroleo Brasileiro Petrobras ADR,1456,1492,1451,-37,"-2,48%","13,11M",16:59:59,PBR
3,ITUB Itau Unibanco,5300,5340,5270,-30,"-0,56%","10,39M",16:59:59,ITUB
4,ABEV Ambev SA,2740,2770,2730,-30,"-1,08%","4,66M",16:59:59,ABEV
5,GGB Gerdau ADR,4980,5080,4930,-90,"-1,78%","4,48M",16:59:59,GGB
6,PBRa Petroleo Brasileiro ADR Reptg 2 Pref,1317,1348,1314,-30,"-2,23%","3,52M",16:59:59,PBRa
7,CIG Energy of Minas Gerais,2380,2400,2370,-20,"-0,83%","1,59M",16:59:59,CIG
8,BRFS BRF ADR,1810,1850,1800,-40,"-2,16%","1,26M",16:59:59,BRFS
9,SID SID Nacional ADR,2350,2400,2340,-60,"-2,49%","1,18M",16:59:59,SID
10,CBD Companhia Brasileira de Distribuicao,830,899,830,-43,"-4,95%","949,33K",16:59:59,CBD
11,ERJ Embraer ADR,1500,1545,1498,-54,"-3,47%","891,85K",16:59:59,ERJ
12,AZUL Azul,805,824,798,-26,"-3,19%","856,8K",17:00:00,AZUL
13,SBS Sabesp ADR,11510,11720,11500,-120,"-1,03%","734,61K",16:59:59,SBS
14,VIV Telefonica Brasil ADR,8270,8350,8240,-110,"-1,31%","529,42K",16:59:59,VIV
15,GOL Gol Linhas Aereas ADR,2650,2764,2650,-120,"-4,33%","487,22K",16:59:59,GOL
16,BAK Braskem A,941,949,920,-15,"-1,57%","418,38K",16:59:59,BAK
17,TIMB TIM Participacoes,1460,1468,1437,12,"+0,83%","392,52K",16:59:59,TIMB
18,EBR Brazilian Electric Power DRC,6780,6870,6780,-70,"-1,02%","375,69K",16:59:59,EBR
19,UGP Ultrapar Participacoes,3550,3580,3530,-90,"-2,47%","300,79K",16:59:59,UGP
20,ELP COPEL Pref ADR,8300,8370,8270,-40,"-0,48%","268,13K",16:59:59,ELP
21,BSBR Banco Santander Brasil ADR,5210,5260,5210,-70,"-1,33%","251,72K",16:59:59,BSBR
22,ATLX Atlas Lithium,266800,270000,261801,2300,"+0,87%","67,44K",17:00:01,ATLX
23,JBSAY JBS SA,729,770,728,-7,"-1,02%","51,65K",16:46:00,JBSAY
24,EBRb Brazilian Electric Power DRC,7730,7730,7570,-20,"-0,26%","48,54K",16:59:59,EBRb
25,BBSEY BB Seguridade Participacoes SA,604,633,604,-16,"-2,58%","44,67K",16:59:00,BBSEY
26,BDORY Banco Do Brasil SA,9170,9550,9170,-270,"-2,86%","43,8K",16:59:00,BDORY
27,LND Brasilagro Adr,5110,5292,4910,0,"0,00%","21,28K",16:59:59,LND
28,EGIEY Engie Brasil,800,880,751,-84,"-9,50%","20,89K",16:58:00,EGIEY
29,COGNY Cogna Educacao ADR,505,530,505,-53,"-9,55%","10,44K",16:55:00,COGNY
30,CIOXY Cielo SA,77,79,75,-1,"-1,21%","9,11K",16:52:00,CIOXY
31,LZRFY Localiza Rent A Car SA,1198,1362,1171,-14,"-1,16%","8,27K",16:59:00,LZRFY
32,LGSXY Light ADR,12,12,11,0,"-1,68%","5,68K",15:11:00,LGSXY
33,USNZY Usinas Siderurgicas de Minas Gerais,13100,14000,13100,-300,"-2,24%","5,37K",16:59:00,USNZY
34,MRRTY Marfrig Global Foods SA,1390,1480,1370,-10,"-0,71%","4,72K",16:11:00,MRRTY
35,CIGc Energy of Minas Gerais DRC,3800,3850,3780,0,"0,00%","3,18K",17:00:00,CIGc
36,CYRBY Cyrela Brazil Realty SA,4150,4400,4050,-4,"-0,11%","3,03K",16:58:00,CYRBY
37,BBDO Banco Bradesco S/A ADR,2580,2610,2550,18,"+0,70%","1,38K",16:59:59,BBDO
38,LRENY Lojas Renner ADR,30500,30800,30500,-2150,"-6,58%","1,16K",16:58:00,LRENY
39,HYPMY Hypera,788,789,777,-1,"-0,13%",601,13:04:00,HYPMY
40,OIBZQ Oi ADR,12,300,12,0,"0,00%",400,16:56:00,OIBZQ
41,OIBRQ Oi ADR Pref,4,4,4,0,"0,00%",0,06/09,OIBRQ
42,GFASY Gafisa ADR,1501,1501,1501,0,"0,00%",0,18/08,GFASY
43,KLBAY Klabin Sa A,895,895,895,0,"0,00%",0,06/09,KLBAY
44,PDGRY PDG Realty,194220,194220,194220,0,"0,00%",0,08/10,PDGRY
45,ESTRF Estre USA A,0,0,0,0,"0,00%",0,26/06,ESTRF
46,CTPTY CTEEP ADR,648,648,648,0,"0,00%",0,31/07,CTPTY
47,SYYNY SYN prop e tech ADR,340,340,340,0,"0,00%",0,29/08,SYYNY
48,EQUEY Equatorial Energia ADR,7000,7000,7000,0,"0,00%",0,31/07,EQUEY
49,IOCJY Iochpe Maxion ADR,91,91,91,0,"0,00%",0,22/08,IOCJY

In [23]:
tickers_adrs = list(adrs['Ticker'])
tickers_adrs

['BBD',
 'VALE',
 'PBR',
 'ITUB',
 'ABEV',
 'GGB',
 'PBRa',
 'CIG',
 'BRFS',
 'SID',
 'CBD',
 'ERJ',
 'AZUL',
 'SBS',
 'VIV',
 'GOL',
 'BAK',
 'TIMB',
 'EBR',
 'UGP',
 'ELP',
 'BSBR',
 'ATLX',
 'JBSAY',
 'EBRb',
 'BBSEY',
 'BDORY',
 'LND',
 'EGIEY',
 'COGNY',
 'CIOXY',
 'LZRFY',
 'LGSXY',
 'USNZY',
 'MRRTY',
 'CIGc',
 'CYRBY',
 'BBDO',
 'LRENY',
 'HYPMY',
 'OIBZQ',
 'OIBRQ',
 'GFASY',
 'KLBAY',
 'PDGRY',
 'ESTRF',
 'CTPTY',
 'SYYNY',
 'EQUEY',
 'IOCJY']

In [34]:
cotacao_adrs = yf.download(tickers_adrs)['Close']
cotacao_adrs

[*********************100%***********************]  50 of 50 completed

3 Failed downloads:
['CIGC', 'PBRA', 'EBRB']: Exception('%ticker%: No timezone found, symbol may be delisted')

,ABEV,ATLX,AZUL,BAK,BBD,BBDO,BBSEY,BDORY,BRFS,BSBR,...,PBRA,PDGRY,SBS,SID,SYYNY,TIMB,UGP,USNZY,VALE,VIV
Date,,,,,,,,,,,,,,,,,,,,,
1996-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-31,2.77,24.820000,8.69,8.84,2.99,2.72,6.13,9.55,1.83,5.45,...,NaN,2.0,11.60,2.44,3.4,14.66,3.64,1.34,13.17,8.44
2023-09-01,2.77,25.790001,9.00,8.99,3.02,2.66,6.20,9.54,1.87,5.50,...,NaN,2.0,11.82,2.50,3.4,14.77,3.68,1.36,13.99,8.45
2023-09-05,2.78,25.700001,8.47,9.07,2.92,2.52,6.26,9.50,1.90,5.35,...,NaN,2.0,11.75,2.47,3.4,14.46,3.65,1.36,13.88,8.37
2023-09-06,2.77,26.450001,8.32,9.56,2.86,2.56,6.20,9.44,1.85,5.28,...,NaN,2.0,11.63,2.41,3.4,14.48,3.64,1.34,13.62,8.38
2023-09-07,2.74,26.680000,8.06,9.41,2.83,2.58,6.04,9.18,1.81,5.21,...,NaN,NaN,11.51,2.35,3.4,14.60,3.55,1.31,13.18,8.27

In [37]:
cotacao_adrs['VALE']

Date
1996-03-08      NaN
1996-03-11      NaN
1996-03-12      NaN
1996-03-13      NaN
1996-03-14      NaN
              ...
2023-08-31    13.17
2023-09-01    13.99
2023-09-05    13.88
2023-09-06    13.62
2023-09-07    13.18
Name: VALE, Length: 6922, dtype: float64

In [38]:
acoes = ['BBDC4', 'VALE3', 'PETR4', 'ITUB4', 'ABEV3', 'GGBR4', 'CMIG4', 
         'BRFS3', 'CSNA3', 'EMBR3', 'AZUL4', 'PCAR3', 'SBSP3', 'VIVT3', 
         'GOLL3', 'BRKM3', 'TIMS3', 'UGPA3', 'ELET3', 'CPLE6', 'SANB11',
         'JBSS3', 'BBSE3', 'BBAS3', 'AGRO3', 'EGIE3', 'COGN3', 'CIEL3',
         'RENT3', 'LIGT3', 'USIM5', 'MRFG3', 'CYRE3', 'LREN3', 'HYPE3',
         'OIBR4', 'GFSA3', 'KLBN11', 'PDGR3', 'ESTR4', 'TRPL4', 'SYNE3',
         'EQTL3']
acoes

['BBDC4',
 'VALE3',
 'PETR4',
 'ITUB4',
 'ABEV3',
 'GGBR4',
 'CMIG4',
 'BRFS3',
 'CSNA3',
 'EMBR3',
 'AZUL4',
 'PCAR3',
 'SBSP3',
 'VIVT3',
 'GOLL3',
 'BRKM3',
 'TIMS3',
 'UGPA3',
 'ELET3',
 'CPLE6',
 'SANB11',
 'JBSS3',
 'BBSE3',
 'BBAS3',
 'AGRO3',
 'EGIE3',
 'COGN3',
 'CIEL3',
 'RENT3',
 'LIGT3',
 'USIM5',
 'MRFG3',
 'CYRE3',
 'LREN3',
 'HYPE3',
 'OIBR4',
 'GFSA3',
 'KLBN11',
 'PDGR3',
 'ESTR4',
 'TRPL4',
 'SYNE3',
 'EQTL3']

In [39]:
acoes_yf = [i + '.SA' for i in acoes]
acoes_yf

['BBDC4.SA',
 'VALE3.SA',
 'PETR4.SA',
 'ITUB4.SA',
 'ABEV3.SA',
 'GGBR4.SA',
 'CMIG4.SA',
 'BRFS3.SA',
 'CSNA3.SA',
 'EMBR3.SA',
 'AZUL4.SA',
 'PCAR3.SA',
 'SBSP3.SA',
 'VIVT3.SA',
 'GOLL3.SA',
 'BRKM3.SA',
 'TIMS3.SA',
 'UGPA3.SA',
 'ELET3.SA',
 'CPLE6.SA',
 'SANB11.SA',
 'JBSS3.SA',
 'BBSE3.SA',
 'BBAS3.SA',
 'AGRO3.SA',
 'EGIE3.SA',
 'COGN3.SA',
 'CIEL3.SA',
 'RENT3.SA',
 'LIGT3.SA',
 'USIM5.SA',
 'MRFG3.SA',
 'CYRE3.SA',
 'LREN3.SA',
 'HYPE3.SA',
 'OIBR4.SA',
 'GFSA3.SA',
 'KLBN11.SA',
 'PDGR3.SA',
 'ESTR4.SA',
 'TRPL4.SA',
 'SYNE3.SA',
 'EQTL3.SA']

In [40]:
cotacao_acoes = yf.download(acoes_yf)['Close']
cotacao_acoes

[*********************100%***********************]  43 of 43 completed

1 Failed download:
['GOLL3.SA']: IndexError('index 0 is out of bounds for axis 0 with size 0')

,ABEV3.SA,AGRO3.SA,AZUL4.SA,BBAS3.SA,BBDC4.SA,BBSE3.SA,BRFS3.SA,BRKM3.SA,CIEL3.SA,CMIG4.SA,...,RENT3.SA,SANB11.SA,SBSP3.SA,SYNE3.SA,TIMS3.SA,TRPL4.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIVT3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,2.733333,NaN,NaN,861.108337,NaN,NaN,10500.434570,...,NaN,NaN,7.815000,5.75,NaN,6299.370117,NaN,2.133333,3.500000,24.000000
2000-01-04,NaN,NaN,NaN,2.603333,NaN,NaN,855.558350,NaN,NaN,9974.599609,...,NaN,NaN,7.351666,5.75,NaN,5499.450195,NaN,2.055555,3.416666,23.350000
2000-01-05,0.520882,NaN,NaN,2.630000,NaN,NaN,855.558350,NaN,NaN,10028.809570,...,NaN,NaN,7.147083,5.75,NaN,6099.390137,NaN,2.251111,3.416666,23.610001
2000-01-06,0.494478,NaN,NaN,2.666666,NaN,NaN,833.333313,NaN,NaN,10161.624023,...,NaN,NaN,7.111250,5.75,NaN,6009.398926,NaN,2.455555,3.416666,24.129999
2000-01-07,0.494478,NaN,NaN,2.606666,NaN,NaN,833.333313,NaN,NaN,10191.439453,...,NaN,NaN,7.211250,5.75,NaN,5799.419922,NaN,2.553333,3.541666,24.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-31,13.840000,23.790001,14.49,47.099998,14.95,30.379999,9.040000,23.500000,3.72,12.330000,...,63.250000,27.110001,57.919998,4.09,14.41,24.920000,18.16,6.880000,65.080002,41.349998
2023-09-01,13.870000,24.440001,14.93,47.419998,14.99,31.030001,9.070000,23.830000,3.86,12.460000,...,63.730000,27.340000,58.720001,4.08,14.52,24.790001,18.41,6.930000,68.889999,41.680000
2023-09-04,13.860000,24.059999,14.81,47.270000,14.90,31.379999,9.370000,24.250000,3.81,12.420000,...,63.349998,27.209999,58.849998,4.10,14.53,24.770000,18.34,6.990000,69.400002,41.619999
2023-09-05,14.010000,24.320000,14.09,47.099998,14.58,31.320000,9.380000,24.320000,3.75,12.270000,...,62.209999,26.900000,58.570000,4.12,14.32,24.280001,18.33,6.900000,69.099998,41.459999
2023-09-06,13.980000,25.750000,13.81,46.779999,14.38,31.090000,9.040000,25.299999,3.71,12.110000,...,60.590000,26.700001,57.860001,4.12,14.38,24.150000,18.34,6.920000,67.989998,41.730000