In [45]:
import pandas as pd
import fundamentus as fd

In [31]:
ativo = 'PETR4'

In [32]:
dados_ativo = fd.get_detalhes_papel(ativo)
dados_ativo

,Papel,Tipo,Empresa,Setor,Subsetor,Cotacao,Data_ult_cot,Min_52_sem,Max_52_sem,Vol_med_2m,...,Ativo_Circulante,Div_Bruta,Div_Liquida,Patrim_Liq,Receita_Liquida_12m,EBIT_12m,Lucro_Liquido_12m,Receita_Liquida_3m,EBIT_3m,Lucro_Liquido_3m
PETR4,PETR4,PN,PETROBRAS PN,"Petróleo, Gás e Biocombustíveis","Exploração, Refino e Distribuição",33.89,2023-09-15,17.40,33.89,1616370000,...,136816000000,279375000000,218390000000,370683000000,581563000000,261516000000,156375000000,113840000000,49813000000,28782000000

In [33]:
for coluna in ['Cotacao', 'PL', 'PVP', 'LPA', 'VPA']:
        dados_ativo[coluna] = dados_ativo[coluna].str.replace('.', '')
        dados_ativo[coluna] = dados_ativo[coluna].str.replace(',', '.')
        dados_ativo[coluna] = dados_ativo[coluna].str.rstrip('%').astype('float') / 100
dados_ativo = dados_ativo[['Cotacao', 'PL', 'PVP', 'LPA', 'VPA']]

In [34]:
dados_ativo

       Cotacao    PL   PVP    LPA    VPA
PETR4    33.89  2.83  1.19  11.99  28.42

In [35]:
cotacao = float(dados_ativo['Cotacao'].iloc[0])
cotacao

33.89

In [36]:
pl_ativo = float(dados_ativo['PL'].iloc[0])
pl_ativo

2.83

In [37]:
pvp_ativo = float(dados_ativo['PVP'].iloc[0])
pvp_ativo

1.19

In [38]:
lpa_ativo = float(dados_ativo['LPA'].iloc[0])
lpa_ativo

11.99

In [39]:
vpa_ativo = float(dados_ativo['VPA'].iloc[0])
vpa_ativo

28.42

In [40]:
indice_graham = 15 * 1.5
indice_graham

22.5

In [41]:
valor_intrinseco = round((indice_graham * lpa_ativo * vpa_ativo) ** (1/2), 2)
valor_intrinseco

87.56

In [42]:
upside = round((valor_intrinseco / cotacao - 1) * 100, 2)
upside

158.37

In [44]:
print(f'O potencial de upside de {ativo} é de {upside}%')

O potencial de upside de PETR4 é de 158.37%